{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Menu</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3" crossorigin="anonymous" />
    <link rel="stylesheet" type="text/css" href="{% static '/css/home.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static '/css/about-us' %}">
    <link rel="stylesheet" type="text/css" href="{% static '/css/cart.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static '/css/menu.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static '/css/contact-us.css' %}">

</head>

<body>
    <main>
        <header>
            <nav>
                <img src="{% static 'images/logo.png' %}" alt="Logo" />
                <div id="nav_bar_options">
                    <div class="opts" id="home">Home</div>
                    <div class="opts" id="menu">Menu</div>
                    <div class="opts" id="about-us">About Us</div>
                    <div class="opts" id="contact-us">Contact Us</div>
                    <div class="opts" id="profile-button">
                        {% include 'partials/profile_icon.svg' %}
                    </div>
                    <div class="opts" id="cart">
                        {% include 'partials/cart_icon.svg' %}
                    </div>
                </div>
            </nav>
        </header>

        <section id="home">
            <div id="background">
                <img src="{% static 'images/home_pg_img.jpg' %}" />
            </div>
            <div id="container">
                <h1>Kitchen Ette</h1>
                <div class="uline"></div>
                <h2>Quality Need Ingredients Not Cost</h2>
                <button>View Menu</button>
            </div>
        </section>

        <section id="menu">
            <h2>What would you like to eat today?</h2>
            <div class="menu-container">
                <div id="background">
                    <img src="{% static 'images/page2img.jpg' %}" alt="Background Image" />
                </div>
                {% if menu_items %}
                {% for category, items in menu_items.items %}
                <!-- Category Box -->
                <div class="item-box"
                    id="{% if category == 'Main Course' %}main-course{% elif category == 'Parantha' %}prantha-menu{% elif category == 'Beverages' %}bevrages-menu{% elif category == 'Others' %}others-menu{% endif %}">
                    <div class="header">
                        <div>
                            {% if category == 'Main Course' %}
                            <!-- Main Course SVG -->
                            {% include 'partials/main_course.svg' %}

                            <!-- Parantha SVG -->
                            {% elif category == 'Parantha' %}
                            {% include 'partials/parantha.svg' %}

                            <!-- Beverages SVG -->
                            {% elif category == 'Beverages' %}
                            {% include 'partials/beverages.svg' %}

                            <!-- Others SVG -->
                            {% elif category == 'Others' %}
                            {% include 'partials/others.svg' %}

                            {% endif %}
                            {{ category|title }}
                        </div>
                    </div>
                    <div class="items">
                        <ul>
                            {% for item in items %}
                            <li>
                                <div class="item">
                                    &bull;
                                    <h6 class="item-name">{{ item.name }}</h6>
                                    <h6 class="price">{{ item.price }}</h6>
                                    <div class="button-area">
                                        <button id="plus">+</button>
                                        <h6 class="value">0</h6>
                                        <button id="minus">-</button>
                                    </div>
                                </div>
                            </li>
                            {% endfor %}
                        </ul>
                    </div>
                    <div class="reset-btn-area">
                        <button class="reset-btn">
                            <p>Reset</p>
                        </button>
                    </div>
                </div>
                {% endfor %}
                {% else %}
                <p>No menu items available.</p>
                {% endif %}
            </div>
            <div class="cart-button-area">
                <button class="cart-button">
                    <h6>Cart</h6>
                </button>
            </div>
        </section>

        <!-- Cart -->
        <section id="cart">
            <div id="background">
                <img src="{% static 'images/home_pg_img.jpg' %}" />
            </div>
            <div class="wrapper">

                <div class="my-order">
                    <h6>My Order</h6>
                </div>

                <div class="middle-container">
                    <div class="line"></div>

                    <!-- This will have the items which are present in the cart -->
                    <div class="container">
                        <ul class="order-items">
                            <li class="order-item" id="first-row">
                                <div class="s-no">S. No.</div>
                                <div class="it-name">Item Name</div>
                                <div class="it-price">Price</div>
                                <div class="qty">Quantity</div>
                                <div class="amount">Amount</div>
                            </li>
                            <div class="line" id="inline"></div>
                        </ul>
                    </div>

                    <div class="totalAm-container">
                        <h6 class="TotalAmount">Total Amount :</h6>
                        <h6 class="Sum">00</h6>
                    </div>

                    <div class="line"></div>
                </div>

                <div class="order-button">
                    <button class="order-now">Place Order</button>
                </div>
            </div>
        </section>

    </main>
    <!-- jQuery -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.7.1/jquery.min.js"></script>

    <script src="{% static 'js/script.js' %}"></script>

    <!-- Bootstrap Bundle with Popper -->
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-ka7Sk0Gln4gmtz2MlQnikT1wXgYsOg+OMhuP+IlRH9sENBO0LRn5q+8nbTov4+1p"
        crossorigin="anonymous"></script>
</body>

</html>