@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;600&family=Roboto&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Literata:opsz@7..72&family=Poppins:wght@400;600&family=Roboto&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Gothic+A1&family=Literata:opsz@7..72&family=Poppins:wght@400;600&family=Roboto&display=swap");

/* menu */
*{
  margin: 0;
  padding: 0;
}
section#menu {
    width: 100%;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: relative;
    padding: 5% 4%;
  }
  
  #background2 {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    z-index: -5;
    background-color: black;
    overflow: hidden;
  }
  
  #background2 img {
    max-width: 100vw;
    height: auto;
    filter: opacity(40%);
  }
  
  section#menu h2 {
    flex: 1;
    display: flex;
    width: 100%;
    justify-content: center;
    font-family: "Gothic A1", sans-serif;
    font-size:36.5px;
    color: #fdf9f9;
    font-weight: 400;
    letter-spacing: 6.666px;
    text-shadow: 0px 4px 0px rgba(0, 0, 0, 0.25);
    align-items:last baseline;
  }
  
  section#menu .menu-container {
    flex: 4.3;
    display: flex;
    width: 100%;
    padding-top: 2%;
    justify-content: space-around;
    box-sizing: border-box;
  }
  
  section#menu .menu-container .item-box {
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 80%;
    width: 21%;
  }

  section#menu .menu-container .item-box .reset-btn-area{
    flex: 1;
    width: 100%;
    display: flex;
    align-items: center;
    padding: 1rem;
    justify-content: center;
  }

  section#menu .menu-container .item-box .reset-btn-area .reset-btn{
    background-color: rgba(102, 102, 102, 0.27);
    width: 30%;
    height: 60%;
    border-style: none;
    border-radius: 7px;
    font-family: "Gothic A1", sans-serif;
    display: flex;
    padding: 1rem;
    align-items: center;
    justify-content: center;
  }

  section#menu .menu-container .item-box .reset-btn-area .reset-btn p{
    margin-top: 3%;
    font-size: 0.9rem;
    color: white;
    margin: 0;
  }
  
  section#menu .menu-container #prantha-menu{
    margin-top: 5%;
  }
  
  section#menu .menu-container #others-menu{
    margin-top: 5%;
  }
  
  section#menu .menu-container .item-box .header {
    flex: 0.8;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #e6bd95;
    width: 70%;
    font-weight: 500;
    font-family: "Gothic A1", sans-serif;
    font-size: 24px;
    letter-spacing: 2.1px;
    border-bottom: 2px solid #e6bd95;
  }
  
  section#menu .menu-container .item-box .items {
    margin-top: 5%;
    flex: 5;
    background: rgba(102, 102, 102, 0.27);
    border-radius: 10px;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    padding: 5%;
    box-sizing: border-box;
  }

  section#menu .menu-container .item-box .items button:hover{
    cursor: pointer;
  }
  
  section#menu .menu-container .item-box .items ul{
    padding: 0;
    margin: 0;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    height: 100%;
  }
  
  section#menu .menu-container .item-box .items .item {
    display: flex;
    flex-direction: row;
    width: 100%;
    justify-content: space-around;
    align-items: center;
    font-size: 25px;
    color: white;
  }
  
  section#menu .menu-container .item-box .items .item h6 {
    padding-top: 2px;
    font-family: Gothic A1;
    font-size: 20px;
    margin: 0;
    font-style: normal;
    font-weight: 400;
    color: #ffffff;
    display: flex;
    align-items: center;
    justify-content: start;
  }
  
  section#menu .menu-container .item-box .items .item .item-name{
    width: 50%;
  }
  
  section#menu .menu-container .item-box .items .item .price{
    width: 15%;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  
  section#menu .menu-container .item-box .items li {
    padding: 0 0 0 0;
    display: flex;
    box-sizing: border-box;
    justify-content: space-around;
    align-items: center;
  }
  
  section#menu .menu-container .item-box .items .item .button-area {
    display: flex;
    align-items: center;
    justify-content: space-around;
    width: 20%;
    aspect-ratio: 2.5;
    background-color: gray;
    box-sizing: border-box;
    border-radius: 5px;
    padding: 0 3px;
    margin: 0;
  }
  
  section#menu .menu-container .item-box .items .item button{
    background-color: red;
    color: rgb(255, 255, 255);
    display: flex;
    align-items: center;
    justify-content:center;
    width: 35%;
    height: 100%;
    font-size: 16px;
    background-color: red;
    background: transparent;
    margin: 0 0;
    padding-bottom: 2px;
  }
  
  section#menu .menu-container .item-box .items .item .button-area .value{
    padding-top: 2px;
    display: flex;
    align-items: center;
    justify-content: center;
    box-sizing: border-box;
    width: 40%;
    height: 100%;
    background-color: rgb(86, 86, 86);
    color: white;
    font-size: 15px;
  }
  
  .header svg {
    width: 24px;
    height: 24px;
  }

  section#menu .cart-button-area{
    flex: 0.6;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
  }

  section#menu .cart-button-area .cart-button{
    height: 80%;
    padding: 1rem;
    width: 12%;
    border-radius: 18px;
    display: flex;
    align-items: center;
    justify-content: center;
    /* background: rgba(145, 145, 145, 0.42); */
    background: rgba(223, 134, 46, 0.49);

  }

  section#menu .cart-button-area .cart-button h6{
    margin: 0;
    font-family: "Gothic A1", sans-serif;
    font-size: 16px;
    font-weight: 400;
    letter-spacing: 2.1px;
    color: #ffffff;
  }
  
  
  